<div class="palette-modal" id="palette-modal" aria-labelledby="palette-modal-title" aria-hidden="true">
    <div class="palette-modal-overlay" data-a11y-dialog-hide></div>
    <div role="document" class="palette-modal-container">
        <button class="palette-modal-close" type="button" data-a11y-dialog-hide="palette-modal" aria-label="Close dialog">
            <i class="fa-solid fa-xmark"></i>
            <span class="visually-hidden">Close modal</span>
        </button>

        <div class="palette-modal-content">
            <h1 class="palette-modal-title" id="palette-modal-title">Uh oh</h1>
        </div>
    </div>
</div>