<div class="col-lg-6">
    <div class="palette-image">
        <!-- Generate the image URL using the filename -->
        <img src="{{ url_for('static', filename='uploads/' + image_filename) }}" alt="Uploaded Image">
    </div>
</div><!-- col -->
<div class="col-lg-6">
    {% if color_list %}
        <div class="palette-grid">
            {% for color in color_list %}
                <button class="palette-color toggleColour" style="background-color: rgb({{color[0]}}, {{color[1]}}, {{color[2]}})" aria-pressed="false">
                    <i class="fa-solid fa-check"></i>
                    <span class="visually-hidden">Select color (rgb({{color[0]}}, {{color[1]}}, {{color[2]}}))</span>
                </button>
            {% endfor %}
        </div>
    {% endif %}
</div><!-- col -->