<div class="upload">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center mb-5 mb-lg-0 pe-lg-5">
                <div class="upload-wrap">
                    <h2 class="upload-title">Create <span>{{ adjective }}</span> Palettes from Your Images</h2>
                    <p class="upload-text">Colourise effortlessly! Our app extracts colour palettes from your images, ready to inspire your projects. Plus, export CSS and SASS palettes for seamless integration into your web designs. Streamline your creative process and bring your vision to life with ease.</p>
                </div>
            </div><!-- col -->
            <div class="col-lg-6 ps-lg-5">
                <div class="upload-area">
                    <i class="upload-icon fa-solid fa-arrow-up-from-bracket"></i>
                    <p class="upload-area-text">Upload an image</p>
                    <p class="upload-area-filetypes">(Allowed extensions: .jpg, .png, .svg - max file size: 5mb)</p>
                    <form action="/" method="POST" enctype="multipart/form-data" id="upload-form" class="upload-form">
                        <label for="file-input" class="upload-label">
                            <span>Select file</span>
                            <input type="file" name="file-input" id="file-input" class="upload-input">
                        </label>
                    </form>
                </div>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</div>