<div class="upload">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center mb-5 mb-lg-0 pe-lg-5">
                <div class="upload-wrap">
                    <h2 class="upload-title">This is the first <span>title</span></h2>
                    <p class="upload-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus quis dicta fugiat distinctio temporibus rerum quos nisi iusto quam eveniet dolores ex, facere non reiciendis explicabo vel iure perferendis obcaecati?</p>
                </div>
            </div><!-- col -->
            <div class="col-lg-6 ps-lg-5">
                <div class="upload-area">
                    <i class="upload-icon fa-solid fa-arrow-up-from-bracket"></i>
                    <p>Upload an image to begin</p>
                    <form action="/" method="POST" enctype="multipart/form-data" id="upload-form">
                        <label for="file-input" class="upload-label">
                            <span>Select file</span>
                            <input type="file" name="file-input" id="file-input" class="upload-input">
                        </label>
                    </form>
                </div>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</div>