<div class="upload">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="upload-title">This is the first <span>title</span></h2>
                <p class="upload-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus quis dicta fugiat distinctio temporibus rerum quos nisi iusto quam eveniet dolores ex, facere non reiciendis explicabo vel iure perferendis obcaecati?</p>
            </div><!-- col -->
            <div class="col-lg-6">
                <p>Image goes here</p>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</div>