@use '../util';
@use '../base/global';

.footer {
    .__upper {
        @include util.sectionPadding(6rem);
    }

    .__lower {
        @include util.sectionPadding(3.2rem);

        p {
            color: util.$color-white;
            font-weight: util.$font-medium;

            a {
                @include util.underline(util.$color-white);
                font-weight: util.$font-bold;
                color: util.$color-white;
            }
        }
    }

    &-title {
        @extend .h4;
        display: inline-block;
        margin-bottom: .8rem;
    }

    &-text {
        color: util.$color-black-80;
        margin-bottom: 1.6rem;

        @media screen and (min-width: util.$lg) {
            margin-bottom: 0;
        }
    }

    &-menu {
        &-list {
            display: flex;
            gap: 1.2rem;

            @media (min-width: util.$lg) {
                justify-content: flex-end;
            }

            li {
                a {
                    i {
                        font-size: 2.4rem;
                        transition: all .3s;

                        &.fa-house {
                            font-size: 2rem;
                        }
                    }

                    span {
                        font-size: 0;
                    }
                }
            }
        }

        &-title {
            @extend .h6;
            margin: 1.6rem 0;

            @media (min-width: util.$lg) {
                text-align: right;
            }
        }
    }
}