@use '../util';
@use '../base/global';

.footer {
    .__upper {
        @include util.sectionPadding(6rem);
    }

    .__lower {
        @include util.sectionPadding(3.2rem);

        p {
            color: util.$color-white;
            font-weight: util.$font-medium;

            a {
                font-weight: util.$font-bold;
                color: util.$color-white;
                text-decoration: underline;
            }
        }
    }

    &-title {
        @extend .h4;
        display: inline-block;
        margin-bottom: .8rem;
    }

    &-text {
        color: util.$color-black-80;
    }

    &-menu {
        li {
            &+li {
                margin-top: .8rem;
            }

            a {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background: util.$color-black;
                    transition: all .3s;
                }

                &:hover,
                &:focus {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }

        &-title {
            @extend .h6;
            margin-bottom: 1.6rem;
        }
    }
}