@use '../util';

.nav {
    height: 100%;

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        li {
            a {
                position: relative;
                font-weight: util.$font-medium;
            }
        }
    }
}