@use '../util';
@use '../base';
@use '../components';

.palette {
    @include util.sectionPadding();

    &-image {
        img {
            @include util.aspect-ratio(1, 1);
            width: 100%;
            border-radius: .8rem;
            object-fit: cover;
        }
    }

    &-grid {
        width: 100%;
        
        &-area {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            gap: 1.6rem;
            margin-top: 1.2rem;
        }
    }

    &-wrap {
        padding: 0 2.4rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2.4rem;
        height: 100%;
    }

    &-color {
        cursor: pointer;
        border: none;
        border-radius: .8rem;
        width: 100%;
        aspect-ratio: 1;
        transition: transform .3s;

        &[aria-pressed='true'] {
            i {
                display: block;
            }
        }

        &.__blackicon {
            i::before {
                color: util.$color-black;
            }
        }

        &.__whiteicon {
            i::before {
                color: util.$color-white;
            }
        }

        &:hover,
        &:focus {
            transform: translateY(-.4rem);
        }

        i {
            display: none;

            &::before {
                font-size: 2rem;
            }
        }
    }

    &-titlewrap {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: .8rem;
        margin-bottom: .8rem;
    }
    
    &-title {
        @extend .h3;
    }
    
    &-instructions {
        font-size: 1.2rem;
        color: rgba(util.$color-black, 0.8);
        transform: translateY(1.5px);
    }
    
    &-buttons {
        margin-top: auto;
        
        &-area {
            display: flex;
            flex-wrap: wrap;
            gap: .8rem;
            margin-top: 1.2rem;
        }
    }

    &-button {
        @extend .button;
        padding: 1rem;
        font-size: 1.8rem;
    }

    &-modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &[aria-hidden='true'] {
            display: none;
        }
        
        &-overlay {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background: rgba(util.$color-black, 0.4);
        }

        &-container {
            position: relative;
            background: util.$color-white;
            padding: 2.4rem;
            border-radius: .8rem;
            max-width: 95vw;
            width: 55rem;
        }

        &-close {
            cursor: pointer;
            position: absolute;
            top: 2.4rem;
            right: 2.4rem;
            background: none;
            border: none;

            i {
                font-size: 2.4rem;
                transition: color .3s;
            }
        }

        &-title {
            @extend .h2;
            margin-bottom: 1.8rem;
            text-transform: uppercase;
        }

        &-text {
            background: rgba(util.$color-grey-120, 0.25);
            padding: 3.2rem 2.8rem;
            border-radius: .8rem;
            line-height: 1.6;
        }

        &-copy {
            margin-top: 1.6rem;

            @media (min-width: util.$lg) {
                min-width: 22rem;
            }
        }
    }
}