<footer class="footer">
    <div class="footer __upper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <a class="footer-title" href="{{ url_for('home') }}">
                        <span>Colour</span>grab
                    </a>
                    <p class="footer-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit.</p>
                </div><!-- col -->
                <div class="col-lg-4 offset-lg-4">
                    <section class="footer-menu">
                        <h3 class="footer-menu-title">Find me here</h3>
                        <ul class="footer-menu-list">
                            <li>
                                <a href="http://www.samueljamesforrest.com" title="View my personal website" target="_blank">
                                    <i class="fa-solid fa-house"></i>
                                    <span>View my personal website</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/samueljforrest" title="View my Twitter profile" target="_blank">
                                    <i class="fa-brands fa-x-twitter"></i>
                                    <span>View my Twitter profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/samueljamesforrest/" title="View my LinkedIn profile" target="_blank">
                                    <i class="fa-brands fa-linkedin"></i>
                                    <span>View my Linkedin profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/SamuelJForrest" title="View my Github profile" target="_blank">
                                    <i class="fa-brands fa-square-github"></i>
                                    <span>View my Github profile</span>
                                </a>
                            </li>
                        </ul>
                    </section>
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div>
    <div class="footer __lower">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p class="copyright">Copyright &copy; {{ current_year }}</p>
                </div><!-- col -->
                <div class="col-lg-6 d-flex justify-content-lg-end align-items-lg-end">
                    <p>Designed & developed by <a href="https://www.twitter.com/samueljforrest" target="_blank">Samuel James Forrest</a></p>
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div>
</footer>