<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <a href="{{ url_for('home') }}" class="header-logo">
                    <span>Color</span>grab
                </a>
            </div><!-- col -->
            <div class="col-lg-6">
                <nav class="nav">
                    <ul>
                        <li>
                            <a href="#">Demo</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</header>