@use '../themes';
@use '../util';

html {
    font-size: 62.5%;
}

body {
    font-family: util.$font-family;
    font-size: 1.6rem;

    &.__blue {
        @include themes.setColorTheme(
            util.$color-blue,
            util.$color-blue-10,
            util.$color-blue-70
        );
    }

    &.__green {
        @include themes.setColorTheme(
            util.$color-green,
            util.$color-green-10,
            util.$color-green-70
        );
    }

    &.__red {
        @include themes.setColorTheme(
            util.$color-red,
            util.$color-red-10,
            util.$color-red-70);

    }

    &.__orange {
        @include themes.setColorTheme(
            util.$color-orange,
            util.$color-orange-10,
            util.$color-orange-70
        );
    }

    &.__purple {
        @include themes.setColorTheme(
            util.$color-purple,
            util.$color-purple-10,
            util.$color-purple-70
        );
    }

    &.__pink {
        @include themes.setColorTheme(
            util.$color-pink,
            util.$color-pink-10,
            util.$color-pink-70
        );
    }

    &.__yellow {
        @include themes.setColorTheme(
            util.$color-yellow,
            util.$color-red-10,
            util.$color-yellow-70
        );
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: util.$font-bold;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.8rem;
}

@for $i from 1 through 6 {
    .h#{$i} {
        @extend h#{$i};
    }
}

a {
    color: util.$color-black;
    text-decoration: none;
    transition: all .3s;
}

p {
    line-height: 1.5;
}