@mixin setColorTheme($color) {
    .header {
        &-logo {
            span {
                color: $color;
            }

            &:hover,
            &:focus {
                color: $color;
            }
        }
    }

    .nav {
        ul {
            li {
                a {
                    &::before {
                        background: $color;
                    }
                }
            }
        }
    }

    .upload {
        &-title {
            @extend .h3;
            margin-bottom: 1.2rem;

            span {
                color: $color;
            }
        }
    }
}