@mixin setColorTheme($color) {
    .header {
        &-logo {
            span {
                color: $color;
            }

            &:hover,
            &:focus {
                color: $color;
            }
        }
    }

    .nav {
        ul {
            li {
                a {
                    &::before {
                        background: $color;
                    }
                }
            }
        }
    }
}