@use '../util/' as util;

@mixin setColorTheme($color, $colorTen, $colorSeventy) {
    %colortitle {
        span {
            color: $color;
        }
    
        &:hover,
        &:focus {
            color: $color;
        }
    }

    .header {
        &-logo {
            @extend %colortitle;
        }
    }

    .nav {
        ul {
            li {
                a {
                    @include util.underline($color);
                }
            }
        }
    }

    .footer {
        &.__upper {
            background: $colorTen;
        }
        
        &.__lower {
            background: $colorSeventy;
        }

        &-title {
            @extend %colortitle;
        }

        &-menu {
            &-list {
                li {
                    a {
                        &:hover,
                        &:focus {
                            i {
                                color: $color;
                            }
                        }
                    }
                }
            }
        }
    }

    .button {
        background: $color;

        &:hover,
        &:focus {
            background: darken($color, 15%);
        }
    }

    .upload {
        &-title {
            @extend .h3;
            margin-bottom: 2rem;

            span {
                color: $color;
            }
        }

        &-area {
            box-shadow: inset 0 0 0 .5rem $color;
            background: $colorTen;
        }

        &-icon {
            color: $color;
        }

        &-label {
            @extend .button;
        }
    }
}