@use 'sass:math';
@use './variables' as var;

@mixin sectionPadding($yPadding: 8rem) {
    padding: math.div($yPadding, 1.25) 0;

    @media screen and (min-width: var.$lg) {
        padding: $yPadding 0;
    }
}

@mixin underline($underlineColor) {
    background-image: linear-gradient($underlineColor, $underlineColor);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: left 100%;
    
    &:hover,
    &:focus {
        background-size: 100% 2px;
    }
}

@mixin aspect-ratio($width, $height) {
    aspect-ratio: $width / $height;
}