// fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

$font-family: 'Poppins', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;

// colours
$color-black: #1e1e1e;
$color-black-80: rgba($color-black, 0.8);
$color-black-10: rgba($color-black, 0.1);
$color-grey-120: #a9b1c3;
$color-grey: #f7f7f7;
$color-white: #fcfcfc;

$color-blue: #0ea5e9;
$color-blue-70: rgba($color-blue, 0.7);
$color-blue-10: rgba($color-blue, 0.1);

$color-green: #3cb35a;
$color-green-70: rgba($color-green, 0.7);
$color-green-10: rgba($color-green, 0.1);

$color-orange: #f29559;
$color-orange-70: rgba($color-orange, 0.7);
$color-orange-10: rgba($color-orange, 0.1);

$color-pink: #ff90bc;
$color-pink-70: rgba($color-pink, 0.7);
$color-pink-10: rgba($color-pink, 0.1);

$color-purple: #8860ef;
$color-purple-70: rgba($color-purple, 0.7);
$color-purple-10: rgba($color-purple, 0.1);

$color-red: #ef4444;
$color-red-70: rgba($color-red, 0.7);
$color-red-10: rgba($color-red, 0.1);

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
