// fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

$font-family: 'Poppins', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;

// colours
$color-black: #1E1E1E;
$color-black-10: rgba($color-black, 0.1);
$color-grey-120: #A9B1C3;
$color-grey: #F7F7F7;
$color-white: #FCFCFC;

$color-blue: #0EA5E9;
$color-blue-70: rgba($color-blue, 0.7);

$color-green: #3CB35A;
$color-green-70: rgba($color-green, 0.7);

$color-orange: #F29559;
$color-orange-70: rgba($color-orange, 0.7);

$color-pink: #F0D3F7;
$color-pink-70: rgba($color-pink, 0.7);

$color-purple: #8860EF;
$color-purple-70: rgba($color-purple, 0.7);

$color-red: #EF4444;
$color-red-70: rgba($color-red, 0.7);

$color-yellow: #F6E35D;
$color-yellow-70: rgba($color-yellow, 0.7);